<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Services - Active Bootstrap Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/assets/img/favicon.png" rel="icon">
  <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">

  <!-- Ensure Bootstrap CSS is included in your project -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="/assets/css/main.css" rel="stylesheet">

  <!-- Bootstrap CSS -->


  <!-- =======================================================
  * Template Name: Active
  * Template URL: https://bootstrapmade.com/active-bootstrap-website-template/
  * Updated: Jun 29 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body class="services-page">

<div layout:fragment="content">
  <main class="main">

    <!-- Page Title -->
    <div class="page-title" style="background-color: #003300;">
      <div class="container text-center">
        <h1 style="color: white;">행사정보</h1>
        <nav class="breadcrumbs">
          <div>
            <span style="color: white;">각 지역들의 행사 목록입니다.</span>
          </div>
        </nav>
      </div>
    </div>
    <!-- End Page Title -->

    <!-- 행사정보 등록하기 -->
    <section id="services-2" class="services-2 section">
      <div class="container mb-3 mt-5">
        <div class="row justify-content-center" data-aos="fade-up">
          <div class="col-md-6 col-lg-4">
            <!-- 상단 제목 -->
            <h2>행사정보 등록하기</h2>
            <form th:action="@{/event/create}" th:object="${eventDTO}" method="post" enctype="multipart/form-data">
              <div class="form-group mb-2">
                <label for="eventName">행사 명</label>
                <input type="text" id="eventName" name="eventName" class="form-control" th:value="${eventName}" required>
              </div>
              <div class="form-group mb-3">
                <label for="description">행사 정보</label>
                <input type="text" id="description" name="description" class="form-control" th:value="${description}" required>
              </div>
              <div class="form-group mb-3">
                <label for="description">Url</label>
                <input type="text" id="eventUrl" name="eventUrl" class="form-control" th:value="${eventUrl}" required>
              </div>
              <div class="form-group mb-3">
                <label for="eventImg">썸네일</label>
                <input type="file" id="eventImg" name="file" class="form-control" required>
              </div>

              <button type="submit" class="btn btn-outline-success rounded-pill mb-3">등록하기</button>
              <a th:href="@{/event}" class="btn btn-outline-danger rounded-pill mb-3">취소</a>
            </form>
        </div>
      </div>
      </div>
    </section><!-- /행사정보 등록하기 -->
  </main>
  <!-- Bootstrap JS and dependencies -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <!--daum API-->

</div>

</body>

</html>