<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Services - Active Bootstrap Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/assets/img/favicon.png" rel="icon">
  <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="/assets/css/main.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Active
  * Template URL: https://bootstrapmade.com/active-bootstrap-website-template/
  * Updated: Jun 29 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body class="services-page">

<div layout:fragment="content">
  <main class="main">

    <!-- Page Title -->
    <div class="page-title light-background">
      <div class="container">
        <h1>로그인</h1>
        <nav class="breadcrumbs">
          <ol>
            <li><a th:href="@{/}">메인</a></li>
            <li class="current">로그인</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->

    <!-- Services 2 Section -->
    <section id="services-2" class="services-2 section">

      <div class="container"> <!--여백폭-->
        <div class="row justify-content-center" data-aos="fade-up"><!--배치-->
          <div class="col-md-6 col-lg-4"><!--크기-->
            <h2>회원수정</h2>
            <form th:action="@{/user/update}" th:object="${data}" method="post">
              <input type="hidden" name="id" th:field="*{id}">
              <div class="form-group mb-3">
                <label for="username">아이디:</label>
                <input type="text" id="username" name="username" class="form-control" th:field="*{username}" readonly>
              </div>
              <div class="form-group mb-3">
                <label for="password">비밀번호:</label>
                <input type="password" id="password" name="password" class="form-control" >
              </div>
              <div class="form-group mb-3">
                <label for="name">사용자 이름:</label>
                <input type="text" id="name" name="name" class="form-control" th:field="*{name}" required>
              </div>
              <div class="form-group mb-1">
                <div class="row">
                  <div class="col">
                    <input type="text" id="postcode" name="postcode" class="form-control" th:field="*{postcode}" required>
                  </div>
                  <div class="col">
                    <input type="button" class="form-control" onclick="execDaumPostcode()" value="우편번호 찾기">
                  </div>
                </div>
              </div>
              <div class="form-group mb-1">
                <input type="text" id="address" name="address" class="form-control" th:field="*{address}" required>
              </div>
              <div class="form-group mb-3">
                <div class="row">
                  <div class="col">
                    <input type="text" id="detailAddress" name="detailAddress" class="form-control" th:field="*{detailAddress}" required>
                  </div>
                  <div class="col">
                    <input type="text" id="extraAddress" name="extraAddress" class="form-control" th:field="*{extraAddress}">
                  </div>
                </div>
              </div>
              <div class="form-group mb-3">
                <label for="roleType">권한:</label>
                <select id="roleType" name="roleType" class="form-control" th:field="*{roleType}">
                  <option value="user">일반</option>
                  <option value="admin">운영자</option>
                  <option value="master">관리자</option>
                </select>
              </div>
              <button type="submit" class="btn btn-primary">회원수정</button>
            </form>
          </div>

        </div>
      </div>
    </section><!-- /Services 2 Section -->

  </main>
</div>
</body>

</html>