<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultrq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="/assets/img/favicon.png" rel="icon">
    <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">

    <!-- Main CSS File -->
    <link href="/assets/css/main.css" rel="stylesheet">
</head>
<body class="services-page">
<div layout:fragment="content">
    <!-- Page Title -->
        <div class="page-title" style="background-color: #003300;">
            <div class="container text-center">
                <h1 style="color: white;">병해진단</h1>
                <nav class="breadcrumbs">
                    <div>
                        <span style="color: white;">사진을 통해 작물의 병해를 진단할 수 있습니다.</span>
                    </div>
                </nav>
            </div>
        </div>
        <!-- End Page Title -->
    <div class="container" style="margin-top: 3rem">
            <div class="row justify-content-center" data-aos="fade-up">
                <div class="col-md-10 col-lg-10">
                    <div>분석결과 검출된 병해충이 없습니다.</div>
                    <div></div>
                    <a th:href="@{/}" class="btn btn-secondary">홈으로 돌아가기</a>
                    <a th:href="@{diagnose/insert}" class="btn btn-secondary">이전으로</a>
                </div>
            </div>
        </div>
</div>
</body>
</html>